---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import "bootstrap/bootstrap",
        "colors",
        "header",
        "home",
        "post",
        "footer",
        "page",
        "jumbo",
        "projects",
        "variables";

html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 6rem;
    font-family: $font-tufte;
}
