<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="sectionHeader">about</h1>
                {% for member in site.data.members %}
                <div class="member m-b-3 col-md-6">
                    <h2 class="memberTitle">{{ member.name }}</h4>
                    <img class="img-fluid memberImg m-b-1" data-img="{{ member.img }}" alt="{{ member.name }}">
                    <p class="memberDescription">{{ member.description }}</p>
                    <a href="{{ member.website }}" class="btn btn-primary"> Website </a>
                    <a href="https://github.com/{{ member.github }}" class="btn btn-primary"> Code </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
