<header class="header row">
    <div class="col-md-12">
        <a href="/" role="banner"><h1 class="header--banner">newsapps.io</h1></a>
        <nav class="pull-sm-right contact">
            {% for link in site.data.links %}
                <a class="contactLink" href="{{ link.github }}">GitHub</a> /
                <a class="contactLink" href="{{ link.blog }}">blog</a> /
                <a class="contactLink" href="{{ link.email }}">email</a>
            {% endfor %}
        </nav>
    </div>
</header>
