<section id="home">
    <div class="jumbotron">
        <div class="jumbotron--border">
            <p class="jumbotron--lead">newsapps.io</p>
            <div class="jumbotron--text">
                <p class="jumbotron--paragraph">journalism <span class="plus">+</span> code</p>
                <p class="jumbotron--paragraph">data visualization & interactive storytelling studio</p>
            </div>
            <div class="contact">
                <a class="contactLink" href="#projects">projects</a> /
                <a class="contactLink" href="#projects">about</a> /
                <a class="contactLink" href="mailto:hello@newsapps.io">contact us</a>
            </div>
        </div>
    </div>
</section>
