<section id="projects">
    <div class="container">
        <div class="row">
                <h2 class="sectionHeader">Projects</h1>
                <div class="projects">
                    {% for project in site.data.projects %}
                    <div class="project m-b-3">
                        <div class="projectMeta">
                            <h2 class="projectTitle"><a href="{{ project.post }}">{{ project.name }}</a></h2>
                            <small class="projectDate text-muted">{{ project.date }}</small>
                        </div>
                        {{ project.showcase }}
                        <p class="projectDescription">{{ project.description }}</p>
                        <div class="center-block text-xs-center">
                            <a href="{{ project.url }}" class="btn btn-sm btn-secondary"> Website </a>
                            <a href="{{ project.code }}" class="btn btn-sm btn-secondary"> Code </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
        </div>
    </div>
</section>
