@import "variables";
@import "colors";

.interactiveAbout {
    text-align: center;
    color: $primary-white;
	background-size: cover;
	background-image: url("/img/cover.png");
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}
.interactiveAbout--headline {
    font-size: 1.25rem;
    text-shadow: $primary-black 0px 0px 6px, $primary-black 0px 0px 1px;
}
.btn-contact {
    color: $primary-white;
    border-color: $primary-white;
}
.svg--contact {
    height: 1.2rem;
    vertical-align: text-top;
}

// Medium devices (tablets, 48em and up)
@media (min-width: $sm) {
    .interactiveAbout {
        padding-top: 5rem;
        padding-bottom: 4rem;
        padding-left: 0;
        padding-right: 0;
    }
    .interactiveAbout--headline {
        font-size: 2rem;
    }
}
