@import "variables";

.footer {
    font-family: $font-system;
    font-weight: 300;
    height: 60px;
    text-align: center;
    border-top: 1px solid #aaa;
    padding-top: 0.5rem;
    margin-bottom: 4rem;
}
.footer--text {
    color: $gray;
}
