@import "variables";

.footer {
    font-family: $font-system;
    padding-top: 0.5rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    text-align: center;
}
.footerContainer {
    border-top: 1px solid #aaa;
    padding-top: 1rem;
    padding-bottom: 3rem;
}
.footer--text {
    color: $gray;
}
