@import "variables";

.wrap {
    width: 100%;
}
a,
a:hover {
    color: $body-color;
    text-decoration: none;
}
img {
    opacity: 0;
    transition: opacity .3s ease-in;
}
.sectionHeader {
    color: $brand-primary;
    font-style: italic;
    font-size: 2rem;
    margin: auto;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid $brand-primary;
}
.postList {
    text-align: center;
    font-size: 2rem;
    list-style: none;
    padding: 0;
}
.btn {
    font-family: $font-system;
}
.container {
    max-width: none;
    padding: 0 2rem;
}
.col-centered {
    float: none;
    margin: 0 auto;
}

// Medium devices (tablets, 48em and up)
@media (min-width: $sm) {
    .sectionHeader {
        max-width: 20%;
    }
}
