@import "variables";

a:hover,
a:active,
a:focus {
    text-decoration: none;
    transition: color 0.2s ease-in;
}
img {
    opacity: 0;
    transition: opacity 0.3s ease-in;
}
.btn {
    font-family: $font-system;
}
.col-centered {
    float: none;
    margin: 0 auto;
}
.row-centered {
    text-align: center;
}
.sectionHeader {
    max-width: none;
}
.sectionHeader--text {
    color: $brand-primary;
    font-family: $font-system;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 1.2rem;
    font-weight: 300;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid $brand-primary;
}
.postList {
    text-align: center;
    font-size: 2rem;
    list-style: none;
    padding: 0;
}
::selection {
    background-color: $brand-primary;
    color: $primary-white;
}

// Medium devices (tablets, 48em and up)
@media (min-width: $sm) {
    .sectionHeader {
        max-width: 10rem;
    }
}
