@import "variables";

.wrap {
    width: 100%;
}
a:hover,
a:active,
a:focus {
    text-decoration: none;
    transition: color .2s ease-in;
}
img {
    opacity: 0;
    transition: opacity .3s ease-in;
}
.btn {
    font-family: $font-system;
}
.container {
    padding: 0 2rem;
}
.col-centered-team {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
.col-centered {
    float: none;
    margin: 0 auto;
}
.row-centered {
    text-align:center;
}
.sectionHeader {
    color: $brand-primary;
    text-align: center;
    font-family: $font-system;
    font-size: 2rem;
    font-weight: 300;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid $brand-primary;
}
.postList {
    text-align: center;
    font-size: 2rem;
    list-style: none;
    padding: 0;
}
