@import "variables";

.navigation {
    border-radius: 0;
    padding: 2rem;
    padding-top: 1rem;
    margin-bottom: 0;
    border-top: 3px solid $brand-primary;
    text-align: center;
}
.navigation--lead {
    display: inline-block;
    font-weight: 700;
    color: $brand-primary;
    font-size: 2.5rem;
}
.contact {
    font-family: $font-system;
}
.contactLink {
    font-size: 1.3rem;
    font-weight: 300;
    color: $brand-primary;
}
.contactLink:hover {
    color: $brand-primary;
}

// Medium devices (tablets, 48em and up)
@media (min-width: $sm) {
    .navigation {
        text-align: left;
    }
    .contact {
        float: right;
    }
}
