@import "variables";

.project {
    text-align: center;
    margin-bottom: 3rem;
}
.project:nth-child(1) {
    margin-bottom: 5rem;
}
.project:nth-child(2) {
    margin-top: 6rem;
}
.collage {
    margin-bottom: 0.5rem;
}
.projectTitle,
.projectDate {
    font-family: $font-system;
}
.projectTitle {
    margin-bottom: 0;
}
.projectMeta {
    text-align: left;
    margin-bottom: 0.5rem;
}
.projectDescription {
    font-size: 1.3rem;
    line-height: 1.5rem;
    text-align: center;
    margin: 0 auto;
    float: none;
    margin-bottom: 1rem;
}
.svg--url,
.svg--code,
.svg--page,
.svg--twitter {
    height: 1.2rem;
}
.svg--code {
    margin-right: 0.5rem;
}
.svg--page {
    margin-right: 0.2rem;
}
.svgButton--page,
.svgButton--url,
.svgButton--code {
    vertical-align: sub;
    height: 1rem;
}
.martgnz a:nth-child(3) svg {
    margin-left: 0.3rem;
}
.projectClient {
    font-family: $font-system;
    text-transform: uppercase;
}
.projectClient a:hover,
.projectClient a:focus,
.projectClient a:active {
    text-decoration: none;
}
.separator {
    margin: 0;
    margin-top: 2rem;
    border-top: none;
    text-align: center;
}
.separator::before {
    content: "···";
    color: $brand-primary;
    font-size: 3rem;
}

// Medium devices (tablets, 48em and up)
@media (min-width: $sm) {
    .projectDescription {
        font-size: 1.5rem;
        line-height: 1.9rem;
        width: 80%;
    }
}
