@import "variables";

.col-centered-team {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:center;
    /* inline-block space fix */
    margin-right:-4px;
}
.memberWebsite--url {
    margin-right: 0.4rem;
}
