<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body>
        <div class="wrap">
            {% include jumbo.html %}
            <div class="container scroll fadeIn" data-wow-offset="300">
                {% include projects.html %}
                {% include posts.html %}
            </div>
        </div>
        {% include footer.html %}
        <script src="/js/wow.min.js"></script>
        <script src="/js/layzr.min.js"></script>
        <script src="/js/main.js"></script>
    </body>
</html>
